# ENV
NODE_ENV = Complete with de nodejs environment

# Port
PORT = Complete with port

# Log
LOG_LEVEL = Complete with the log level 

# Database
DATABASE_URL = Complete with the mongodb connection url

#Auth
AUTH_TTL = Complete 
AUTH_SECRET = Complete

#AWS
AWS_ACCESS_KEY_ID = Complete access id
AWS_PRIVATE_ACCESS_KEY =  Complete access key
AWS_S3_BUCKET_NAME = Complete bucket name